div{
    height: 100px;
    width: 100px;

    background-color: aquamarine;

    border: 1px solid black;

    color: red;
}

.grey{
    background-color: gray;
    color: white;
}

.light {
    background-color: white;
    color: black;
}